{% extends 'base.html' %} {% load django_bootstrap5 %} {% block content %}
<h1>글 보기</h1>
<p>글 제목 | {{ review.title }}</p>
<p>작성자 | {{ review.author }}</p>
<p>글 내용 | {{ review.content }}</p>
<p>영화 제목 | {{ review.movie_name }}</p>
<p>영화 평점 | {{ review.grade }}</p>
<p>작성 시간 | {{ review.updated_at }}</p>

<a href="{% url 'reviews:index' %}" class="btn btn-dark">돌아가기</a>
{% if review.author == request.user %}
<span>
  <a href="{% url 'reviews:update' review.pk %}" class="btn btn-dark">수정하기</a>
  <a href="{% url 'reviews:delete' review.pk %}" class="btn btn-dark">삭제하기</a>
</span>
{% endif %}
{% endblock %}